@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
}

#ux {
    position: fixed;

    z-index: 1000;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

#debugger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;

    bottom: 0;
    left: 0;

    padding: 20px;

    width: 100%;
}

#debugger .box {
    width: 100%;
}

#debugger .box#infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#debugger .box#infos .infos-content {
    color: #fff;
}

#debugger .box#addloc button {
    position: relative;
    float: right;

    background: none;
    border: 1px solid #fff;
    border-radius: 50%;
    outline: none;

    margin-top: 10px;

    width: 40px;
    height: 40px;

    font-size: 1.5em;

    color: #fff;
}

#debugger .box#addloc button:hover {
    background: #fff;
    color: #222;
}

#addlocform {
    display: none;
    flex-direction: column;

    position: absolute;

    bottom: 50px;
    left: 50%;

    transform: translateX(-50%);

    width: 90%;
    padding: 20px;

    border-radius: 5px;

    background: #fff;
}

#addlocform h2 {
    margin-bottom: 20px;
}

#addlocform input,
#addlocform textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
    background: none;
    outline: none;
    color: #222;
    border-radius: 5px;
}

#addlocform input,
#addlocform textarea {
    margin-bottom: 20px;
}

#addlocbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#addlocform button {
    width: 40%;

    padding: 10px;

    border: 1px solid #2cf177;
    border-radius: 5px;
    background: none;
    outline: none;
    color: #2cf177;
}

#addlocform button:nth-of-type(2) {
    border: 1px solid #f12c6e;
    color: #f12c6e;
}

#trigger {
    opacity: 0;
    position: absolute;

    top: 50%;
    left: 50%;

    perspective: 800px;
    perspective-origin: 50% 50%;

    transform: translate(-50%, -50%);
}

#triggerContent {
    text-align: justify;

    /* background: rgba(255, 255, 255, 0.2); */
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 5px;
    
    transition: 0.2s !important;

    padding: 20px;
}

#trigger * {
    color: #fff;
}

#trigger h2#label {
    margin-bottom: 20px;
}

#trigger p:not(:nth-last-of-type(1)) {
    margin-bottom: 10px;
}

#menu {
    position: absolute;

    height: 100%;

    top: 0;
    left: 0;
}

#menu * {
    color: #fff;
}

#menu #nav {
    opacity: 0;

    height: 100%;
    width: 150px;

    margin-left: 12px;

    /* background: #fff; */
}

#menu #nav ul {
    margin-left: 10px;
}

#menu #nav ul li {
    margin-bottom: 10px;
    list-style: none;
}

#menu #burger {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 20px 0 0 20px;
}

#menu #burger span {
    border: 1px solid #fff;
    width: 40px;
    margin-bottom: 10px;
}

#object {
    color: rgb(62, 235, 194);
}

#lat, #lon {
    color: rgba(255, 255, 255, 0.6);
}

#trigger #label {
    color: rgb(62, 235, 194);
}